<% content_for :other_css do %>
  <%= stylesheet_link_tag 'dashboard' %>
<% end %>
<%= javascript_include_tag "dashboard" %>
<!-- BEGIN CONTENT BODY -->
<div class="page-content">
  <!-- BEGIN PAGE HEADER-->
  <!-- BEGIN THEME PANEL -->
  <!-- END THEME PANEL -->
  <!-- BEGIN PAGE BAR -->
  <!-- END PAGE BAR -->
  <!-- BEGIN PAGE TITLE-->
  <h1 class="page-title">Dashboard </h1>
  <!-- END PAGE TITLE-->
  <!-- END PAGE HEADER-->
  <!-- BEGIN DASHBOARD STATS 1-->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="box-dashboard dashboard-stat red-pink">
        <h2><span>System Alerts</span> <i class="fa fa-envelope-open" aria-hidden="true"></i></h2>
        <ul>
          <li><a href="" data-toggle="tooltip" title="system offline"><span data-counter="counterup" data-value="13">13</span> system offline</a></li>
          <li><a href="" data-toggle="tooltip" title="low battery"><span data-counter="counterup" data-value="17">17</span> low battery</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="box-dashboard dashboard-stat green-meadow">
        <h2><span>Utility Usage</span>  <i class="fa fa-signal" aria-hidden="true"></i></h2>
        <ul>
          <li><a href="" data-toggle="tooltip" title="kw/h last week"><span data-counter="counterup" data-value="180">180</span> kw/h last week</a></li>
          <li><a href="" data-toggle="tooltip" title="average running hours"><span data-counter="counterup" data-value="98">98</span> average running hours</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="box-dashboard dashboard-stat blue-sharp">
        <h2><span>Occupancy</span> <i class="fa fa-home" aria-hidden="true"></i></h2>
        <ul>
          <li><a href="" data-toggle="tooltip" title="Invitations pending"><span data-counter="counterup" data-value="8">8</span> Invitations pending</a></li>
          <li><a href="" data-toggle="tooltip" title="Occupied"><span data-counter="counterup" data-value="89" title="Occupied">89</span><span>%</span> Occupied</a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6">
      <div class="box-dashboard dashboard-stat yellow-casablanca">
        <h2><span>Revervations</span>  <i class="fa fa-suitcase" aria-hidden="true"></i></h2>
        <ul>
          <li><a href="" data-toggle="tooltip" title="check-ins today"><span data-counter="counterup" data-value="8">8</span> check-ins today</a></li>
          <li><a href="" data-toggle="tooltip" title="check-outs today"><span data-counter="counterup" data-value="9">9</span> check-outs today</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>

  <div class="row">
    <div class="col-lg-6 col-xs-12 col-sm-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-bar-chart font-dark hide"></i>
            <span class="caption-subject font-dark bold uppercase">Site Visits</span>
            <span class="caption-helper">weekly stats...</span>
          </div>
          <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
              <label class="btn red btn-outline btn-circle btn-sm active">
                <input type="radio" name="options" class="toggle" id="option1">New</label>
              <label class="btn red btn-outline btn-circle btn-sm">
                <input type="radio" name="options" class="toggle" id="option2">Returning</label>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div id="site_statistics_loading">
            <img src="<%= asset_path 'loading.gif' %>" alt="loading" /> </div>
          <div id="site_statistics_content" class="display-none">
            <div id="site_statistics" class="chart"> </div>
          </div>
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
    <div class="col-lg-6 col-xs-12 col-sm-12">
      <!-- BEGIN PORTLET-->
      <div class="portlet light bordered">
        <div class="portlet-title">
          <div class="caption">
            <i class="icon-share font-red-sunglo hide"></i>
            <span class="caption-subject font-dark bold uppercase">Revenue</span>
            <span class="caption-helper">monthly stats...</span>
          </div>
          <div class="actions">
            <div class="btn-group">
              <a href="" class="btn dark btn-outline btn-circle btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Filter Range
                <span class="fa fa-angle-down"> </span>
              </a>
              <ul class="dropdown-menu pull-right">
                <li>
                  <a href="javascript:;"> Q1 2014
                    <span class="label label-sm label-default"> past </span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;"> Q2 2014
                    <span class="label label-sm label-default"> past </span>
                  </a>
                </li>
                <li class="active">
                  <a href="javascript:;"> Q3 2014
                    <span class="label label-sm label-success"> current </span>
                  </a>
                </li>
                <li>
                  <a href="javascript:;"> Q4 2014
                    <span class="label label-sm label-warning"> upcoming </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="portlet-body">
          <div id="site_activities_loading">
            <img src="<%= asset_path 'loading.gif' %>" alt="loading" /> </div>
          <div id="site_activities_content" class="display-none">
            <div id="site_activities" style="height: 228px;"> </div>
          </div>
          <div style="margin: 20px 0 10px 30px">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                <span class="label label-sm label-success"> Revenue: </span>
                <h3>$13,234</h3>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                <span class="label label-sm label-info"> Tax: </span>
                <h3>$134,900</h3>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                <span class="label label-sm label-danger"> Shipment: </span>
                <h3>$1,134</h3>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6 text-stat">
                <span class="label label-sm label-warning"> Orders: </span>
                <h3>235090</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PORTLET-->
    </div>
  </div>
  <a href="dashboard_settings.html" class="btn green btn-circle btn-outline dashboard_customize_bttn"><i class="icon-moon icon-menu-settings"></i> Customize Dashboard</a>
  <div class="clearfix"></div>
  <!-- END DASHBOARD STATS 1-->
</div>
<!-- END CONTENT BODY -->
